/* ==========================================================================
   #POMODORO APP STYLES
   ========================================================================== */

/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

html {
  box-sizing: border-box;
  scrollbar-width: none;
  font-size: 62.5%;
  overflow: hidden;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --waterBreak: hsl(223, 25%, 40%);
  --break: hsl(48, 23%, 40%);
  --randori: hsl(105, 16%, 40%);
  --threePerson: hsl(105, 16%, 40%);
  --uchikomi: hsl(15, 16%, 40%);
}

body {
  background-color: var(--randori);
  transition: background-color 1s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  user-select: none;
  display: flex;
}

body::-webkit-scrollbar {
  display: none;
}

progress {
  /* border-radius: 2px; */
  border: none;
  width: 100%;
  height: 48px;
  position: fixed;
  top: 0;
  z-index: 9;
}

progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
}

progress::-webkit-progress-value {
  background-color: #fff;
}

.splashScreen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  /* display: contents; */
  /* visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear; */
}

/* .splashScreen:hover {
  visibility: hidden;
  /* display: none; */
/* opacity: 0; */
/* } */

.middle > section > div {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 5rem;
}

#rounds {
  font-size: 8vw;
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.app,
#settings {
  height: 100vh;
  width: 100vw;
}

.timer {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  height: 100%;
}

.clock {
  /* margin-top: 50px;
  margin-bottom: 30px; */
  font-size: 25vw;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: arial, sans-serif;
}

/* .mode-buttons {
  position: fixed;
  top: 10rem;
} */

.mode-button {
  font-size: 25px;
  /* height: 28px; */
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: #fff;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-color: #fff;
}

.main-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 3px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: hsl(175, 26%, 41%);
  font-weight: bold;
  width: 200px;
  background-color: white;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus,
button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(3px);
  box-shadow: none;
  outline: none;
}

#chooseTime {
  display: flex;
  justify-content: space-evenly;
}

#chooseTime i {
  cursor: pointer;
  font-size: xxx-large;
}

#fullscreen {
  font-size: xx-large;
  float: right;
  position: relative;
  top: 1rem;
}

.hidden {
  display: none;
}

#settings-button {
  position: fixed;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 50%;
  font-size: xx-large;
  transform: translate(0, -50%);
  /* cursor: pointer; */
}

#settings-button > i:hover {
  color: white;
  cursor: pointer;
  transform: rotate(180deg);
}

#settings-button i {
  transition: 0.1s ease-in-out;
}

/* #settings-button i:hover {
  color: white;
} */

#btn-container {
  display: flex;
  justify-content: space-evenly;
}

#settings {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
  gap: 5rem;
  position: absolute;
  background: #6c757d;
  width: 25%;
  transition: all 300ms;
  cursor: auto !important;
  padding-left: 2rem;
  z-index: 1;
}

#settings button {
  cursor: pointer !important;
}

#settings.closed {
  transform: translateX(-100%);
}

button.main-button.change-time {
  height: auto;
  width: auto;
}

.hide-cursor {
  cursor: none;
}

.close-button {
  position: relative;
  top: -10%;
  left: 90%;
  font-size: xx-large;
  color: white;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.time-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: auto;
}

@media (max-width: 480px) {
  .middle > section > div {
    flex-direction: column;
    gap: 1rem;
  }
  #rounds {
    flex-direction: row;
    gap: 1rem;
    font-size: 10vw;
    width: auto;
  }
  #settings-button {
    display: none;
  }
  #settings {
    width: 100%;
    position: inherit;
    padding: 0;
  }
  #settings-save {
    display: flex;
    flex-direction: column;
  }
  .close-button {
    position: absolute;
    top: 6%;
  }
  #settings section {
    margin-left: 2rem;
  }
  .close-button {
    display: none;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid black;
  padding: 1rem;
  background-color: #7e8891;
  font-size: x-large;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
